<form method="post">
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<img class="mb-4 mx-auto d-block" src="{{ asset('img/bootstrap-logo.svg') }}" alt="" width="72" height="57">

	<h3 class="mb-3 fw-normal text-center">Connexion</h3>

	<label for="inputEmail" class="form-label">Email</label>
	<input type="email" class="form-control" name="email" value="{{ last_username }}" id="inputEmail" required autofocus>

	<label for="inputPassword">Mot de passe</label>
	<input type="password" class="form-control" name="password" id="inputPassword" required>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

	<div class="d-grid gap-2 mt-3">
		<button class="btn btn-primary" type="submit">
			Connexion
		</button>
	</div>

	<p class="mt-3">
		<small>
			Vous n'avez pas encore de compte ?
			<!-- lancer trigger modal -->
			<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Créez-en un</a>
		</small>
	</p>
</form>
