{% extends 'base.html.twig' %}

{% block title 'Connexion' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			{% include("security/_form.html.twig") %}
		</div>
	</div>
{% endblock %}
