{% extends 'base.html.twig' %}

{% block title "Connexion" %}

{% block body %}

	<div class="row">
		<div class="col-lg-4 col-md-6 mx-auto">
			{% include("security/_form.html.twig") %}
			{% include("security/_modal.html.twig") %}
		</div>
	</div>
{% endblock %}
