{% extends 'base.html.twig' %}

{% block title "Page d'accueil de DeptInfo-UMMTO" %}

{% block body %}
	<h1>
		Bienvenue sur la page d'accueil de la plateforme e-learning du département d'informatique de l'UMMTO
	</h1>
{% endblock %}
