{% extends 'base.html.twig' %}

{% block title "Page d'accueil de DeptInfo-UMMTO" %}

{% block body %}
	<h3>
		Bienvenue sur la page d'accueil de la plateforme e-learning du département d'informatique de l'UMMTO
	</h3>

	<ul>
		<li>
			<a href="{{ path("app_classedecours_creer") }}">Créer une classe de cours</a>
		</li>
	</ul>
{% endblock %}
