{% extends 'base.html.twig' %}

{% block title "Page d'accueil de DeptInfo-UMMTO" %}

{% block body %}
	<pre>
		{{ dump(app.user) }}
	</pre>
	
	<h3>
		Bienvenue sur la page d'accueil de la plateforme e-learning du département d'informatique de l'UMMTO
	</h3>
	
	<a href="{{ path("app_classedecours_creer") }}">Créer une classe de cours</a>
	<br>
	<a href="{{ path("app_classedecours_index") }}">Mes classes de cours</a>

{% endblock %}
