{% extends 'base.html.twig' %}

{% block title "Inscription | Étudiants " %}


{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="row">
		<div class="col-md-6 mx-auto">

			<div class="card">
				{{ include("registration/_nav.html.twig") }}
				<div class="card-body">
					<h5 class="text-center mb-3">Créer un compte étudiant</h5>
					{{ include("registration/_form.html.twig", {'etudiant' : etudiant}) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
