{% extends 'base.html.twig' %}

{% block title "Inscription | Enseignants" %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h3>Inscription à la plateforme pour les enseignants</h3>

	{{ include("registration/_form.html.twig") }}


{% endblock %}
