{% extends 'base.html.twig' %}

{% block title "Créer une classe de cours" %}

{% block body %}
	<h3>
		Créer une nouvelle classe de cours
	</h3>
	{{ include("classe_de_cours/_form.html.twig") }}


{% endblock %}
