{% extends 'base.html.twig' %}

{% block title "Photo de profil | Profil" %}

{% block body %}

	<div class="row">
		<div class="col-lg-6 col-md-10 mx-auto">
			<h3 class="mb-3 fw-normal text-center text-break">
				Changer la photo de profil
			</h3>
			{{ include("profil/_form/_formPhotoDeProfil.html.twig") }}
		</div>
	</div>
{% endblock %}
