<footer class="container text-center mt-5">


	<p class="text-muted">
		<small>
			&copy;
			{{ 'now'|date('Y') }}
			&middot; Université Mouloud Mammeri de Tizi Ouzou (UMMTO)
		</small>
	</p>
</footer>

{% block javascripts %}
</script>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>{% endblock %}
