<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{% include('layouts/partials/_stylesheet.html.twig') %}
			<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
		{% endblock %}
	</head>

	<body class="bg-light">

		{% include('admin/layouts/partials/_nav.html.twig') %}

		<main class="container"> {% block body %}{% endblock %}
			</main>

			{% include('layouts/partials/_footer.html.twig') %}
			{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
		</body>
	</html>
