<!DOCTYPE html>

<html
	lang="fr">

	{# Head #}
	{% include('layouts/partials/_header.html.twig') %}
	{# end Head #}

	{# Body #}
		<body class="bg-light"> {% if app.request.get('_route') not in ['app_login', 'app_registration_etudiant', 'app_registration_enseignant'] %}
			{% include('layouts/partials/_nav.html.twig') %}
		{% endif %}


		<main class="container my-3"> {% block body %}{% endblock %}
			</main>

			{% include('layouts/partials/_footer.html.twig') %}
			{{ include('@MercurySeriesFlashy/flashy.html.twig') }}

		</body>
		{# end Body #}
	</html>
