<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/app.css') }}">
		{% endblock %}

	</head>

	<body>

		{% if app.request.get('_route') not in ['app_login', 'app_registration_etudiant', 'app_registration_enseignant'] %}
			{% include('layouts/partials/_nav.html.twig') %}
		{% endif %}


		<main class="container my-5"> {% block body %}{% endblock %}
			</main>

			{% include('layouts/partials/_footer.html.twig') %}
		</body>
	</html>
