{% extends 'base.html.twig' %}

{% block title "Créer un cours" %}

{% block body %}
	<h3>
		Créer un nouveau support de cours
	</h3>

	{{ include("cours/_form.html.twig") }}

	<a href="{{ path('app_classedecours_consulter', {'id_classedecours' : id_classedecours}) }}">Revenir à ma classe</a>


{% endblock %}
