{% extends 'base.html.twig' %}

{% block title "Nouveau cours" %}

{% block body %}


	<div class="row">
		<div class="col-md-6 mx-auto">
			<h3 class="mb-3 fw-normal text-center text-break">Créer un nouveau support de cours</h3>

			{{ include("cours/_form.html.twig") }}
			<button class="btn btn-link mt-2" onclick="window.history.back();">Annuler</button>
		</div>
	</div>


{% endblock %}
