{% extends 'base.html.twig' %}

{% block title "Modifier " ~ cours.id %}

{% block body %}
	<h3>
		Modifier le cours :
		{{ cours.titre }}
	</h3>

	{{ include("cours/_form.html.twig", {"submitButtonText" : "Modifier"}) }}

	<a href="{{ path('app_classedecours_consulter', {'id_classedecours' : cours.classeDeCours.id}) }}">Revenir à ma classe</a>
{% endblock %}
