{% extends 'base.html.twig' %}

{% block title "Modifier " ~ cours.id %}

{% block body %}


	<div class="row">
		<div class="col-md-6 mx-auto">
			<h3 class="mb-3 fw-normal text-center text-break">
				Modifier le cours :
				{{ cours.titre }}
			</h3>

			{{ include("cours/_form.html.twig", {"submitButtonText" : "Modifier"}) }}
			<button class="btn btn-link mt-2" onclick="window.history.back();">Annuler</button>
		</div>
	</div>
{% endblock %}
